@import url("style.css");

.stores{
	overflow-y: auto;
    background-image: url('../img/Bottom-Waves-1024.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}
.storeArea{
	background-color: #ffffff;
}
.titleReport span{
	font-size: 115%;
}
.storeName{
	position: relative;
	height: auto;
	line-height: 28px;
	padding: 12px 30px;
	font-weight: bold;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.storeName.active{
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
.active{
	background-color: transparent !important;
	color: #157dfb;
}
.storeArea:not(:first-child) {
    border-top: 1px solid rgb(200, 199, 204);
}
.storeArea:last-child {
    border-bottom: 1px solid rgb(200, 199, 204);
}
.modal-body p{
	/*text-align: center;
	margin-bottom: 10px;*/
	text-align: center;
    margin-bottom: 5px;
    line-height: 130%;
    font-size: 80%;
    color: #000;
    font-weight: 500;
}
.modal-body p:last-child{
	margin-bottom: 0px;
}
.modal-footer{	
}
.form-group label {
    text-align: left;
    margin: 10px auto 5px;
}
.form-group input {

}
/*ipad, tablet*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.stores{
	    background-image: url('../img/Bottom-Waves-1024.png');
	}
	.promoName{
		padding: 10px 38px;
	}
	.promoName,
	.promoDetail{
		font-size: 135%;
		line-height: 44px;
	}
	.promoName:after{
		width: 16px;
		height: 16px;
		left: 14px;
	}
	tr {
	    height: 44px;
	    line-height: 44px;
	}
}
@media only screen and (min-width : 376px) and (max-width : 767px) {
	.stores{
	    background-image: url('../img/Bottom-Waves-667.png');
	}
}
/*iphone 4, 5, 5s; android nexus 4, 5*/
@media only screen and (min-width : 320px) and (max-width : 375px) {
	.stores{
	    background-image: url('../img/Bottom-Waves-568.png');
	}
}